* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1.4;
  font-family: "Courier New", Courier, monospace;
}

.product {
  border: 4px solid #000;
  width: 1200px;
  margin: 50px auto;
  position: relative;
}
.product-title {
  text-align: center;
  font-size: 22px;
  text-transform: uppercase;
  background-color: #f7f7f7;
  padding: 15px;
}
.product-img {
  width: 250px;
}
.price {
  font-size: 24px;
}
.shipping {
  font-size: 17px;
  text-transform: uppercase;
  font-weight: bold;
  color: #777;
}
.desc {
  margin-bottom: 20px;
}
.more-info:link,
.more-info:visited {
  color: #000;
}

.more-information:hover,
.more-info:active {
  text-decoration: none;
}
.colors {
  margin-top: 30px;
}
.color {
  width: 20px;
  height: 20px;
  background-color: #000;
}
.color-2 {
  background-color: #219ebc;
  margin-left: 10px;
}
.color-3 {
  background-color: #d62828;
  margin-left: 10px;
}
.color-4 {
  background-color: #ffbe0b;
  margin-left: 10px;
}
.color-5 {
  background-color: #4f772d;
  margin-left: 10px;
}
.color-6 {
  background-color: #a98467;
  margin-left: 10px;
}

.details-title {
  text-transform: uppercase;
  margin-bottom: 15px;
  margin-top: 30px;
}
.details-list {
  list-style: square;
  margin-left: 20px;
}
.details-list li {
  margin-bottom: 10px;
}
.add-cart {
  background-color: #000;
  border: none;
  color: #fff;
  font-size: 20px;
  text-transform: uppercase;
  cursor: pointer;
  padding: 15px;
  width: 100%;
}
.add-cart:hover {
  color: #000;
  background-color: #fff;
  border-top: 4px solid #000;
}
.sale {
  color: #fff;
  background-color: #d62828;
  width: 80px;
  padding: 10px;
  letter-spacing: 5px;
  position: absolute;
  top: -20px;
  left: -50px;
  text-align: center;
}
/*flexbox*/
.row {
  display: flex;
  gap: 50px;
}
.price-shipping {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
.colors {
  display: flex;
  gap: 20px;
}
